"*":
  "atom-beautify":
    general:
      _analyticsUserId: "07038a7f-beb9-4ebf-ac40-421d10deb4b5"
  "atom-material-ui":
    accentColor: "Pink"
    compactTreeView: true
    depth: true
    fontSize: "Small"
    panelContrast: true
    rippleAccentColor: true
    showTabIcons: "Show on active tab"
    tabSize: "Small"
    useRoboto: true
  "autocomplete-plus": {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter-scss-lint"
    ]
    themes: [
      "dracula-ui"
      "dracula-theme"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "e43a0051-8798-d366-df21-2056a6574c47"
  "file-icons":
    onChanges: true
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "language-elm":
    autocompleteEnabled: false
    elmOraclePath: "/Users/lucafregoso/.dotfiles/.atom/packages/language-elm/node_modules/elm-oracle/bin/elm-oracle"
  linter:
    showErrorTabLine: true
  "linter-eslint":
    globalNodePath: "/Users/lucafregoso/.nvm/versions/node/v6.2.1"
    useGlobalEslint: true
  "linter-htmlhint": {}
  "linter-jshint":
    lintInlineJavaScript: true
  "linter-php": {}
  "linter-scss-lint":
    executablePath: "/usr/bin/scss-lint"
  "markdown-preview-plus": {}
  "merge-conflicts": {}
  nuclide:
    installRecommendedPackages: true
    "nuclide-adb-logcat": {}
    "nuclide-buck": {}
    "nuclide-file-tree": {}
    "nuclide-flow":
      enableStructuredTypeHints: true
    "nuclide-home":
      showHome: false
  "tool-bar":
    position: "Left"
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    showInvisibles: false
